#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}
h1 {
  font-family: "Instrument serif";
  font-weight: bolder;
}
body {
  color: white;
  background: #191a1b;
}
a {
  color: #cdcdcd;
}
p {
  margin-top: -20px;
  margin-bottom: 50px;
  color: gray;
}
a:hover {
  text-decoration: underline;
}